body {
  font-family: helvetica;
  background: #FFFFFF;
}

nav {
  display: flex;
  background: #000000;
  color: #FFFFFF;
}

span {
  background-color: #ff0000;
  padding: 2px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #333333;
}

h2 {
  text-align: center;
  color: #333333;
}

div {
  display: block;
  text-align: center;
}

img {
  color: #FFFFFF;
  width: 2em;
  height: 2em;
  text-align: left;
}

ul {
  padding: 1em;
  list-style-type: none;
}

button {
  background: #CF3127;
  margin: 5px;
  padding: 4px;
  color: #1f2e2e;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  transition: 350ms all;
  cursor: pointer;
}

button:hover {
  background: #666666;
}

button li {
  display: inline-block;
}

.ladder {
  width: 70%;
  height: 3em;
}

.profile {
  color: #FFFFFF;
}

.challenge {
  font-size: 10px;
}

.left {
  display: flex;
  justify-content: space-between;
  margin-right: 3em;
}

.icon-menu {
  display: block;
  justify-content: space-between;
  margin-left: 3em;
}

.icon-menu .menu-nav{
  display: none;
}


.icon-menu:hover .menu-nav{
  display: block;
}

@media only screen and (min-width: 650px) {

  .icon-menu {
    display: none;
  }

  .icon-menu .menu-nav {
    display: inline;
  }
}
