body {
  font-family: 'Source Code Pro', monospace;
  background: #FFFFFF;
  font-weight: 500;
}

nav {
  display: flex;
  background: #0D0D0D;
  color: #FFFFFF;
  justify-content: space-between;
}

h1 {
  text-align: center;
  color: #333333;
}

h2 {
  text-align: center;
  color: #333333;
}

div {
  display: block;
  text-align: center;
}

img {
  color: #FFFFFF;
  width: 3em;
  height: 3em;
  text-align: left;
}

ul {
  padding: 1em;
  list-style-type: none;
}

button {
  font-family: 'Source Code Pro', monospace;
  background: #D13328;
  margin: 5px;
  padding: 4px 12px;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  transition: 350ms all;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background: #666666;
}

button li {
  display: inline-block;
}

.clearfix {
  clear: both;
}

.ladder {
  width: 70%;
  height: 3em;
  justify-content: left;
}

.menu-class {

}

.pong {
  width: 220px;
}

.pong span{
  font-size: 20px;
  position: relative;
  bottom: 20px;
  font-weight: 700;
}

.profile {
  color: #FFFFFF;
}

.profile-stats li {
  color: #333333;
}

.player-image {
  width: 160px;
  min-height: 160px;
}

.challenge {
  font-size: 15px;
  padding: .5em;
  margin-left: auto;
}

.left {
  display: flex;
  justify-content: space-between;
  margin-right: 0em;
}

.left:hover {
  cursor: pointer;
}

.ladder-container {
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
}

.ladder-container li {
  display: flex;
  justify-content: start;
}

.web-view {
  display: block;
  justify-content: space-between;
  margin-left: 0em;
}

.web-view li:hover {
  color: #D13328;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {

  .ladder-container {
    max-width: 600px;
  }

  .challenge {
    font-size: 15px;
    padding: 1em 2em;

  }
}
