<section>
  <button ng-if="myProfile" class="edit" ng-click="goToEdit()">Edit</button>
  <h1>username: {{player.username}}</h1>
  <div>
    <ul class="profile-stats">
      <div class="image">
        <img class="player-image" src="{{player.image}}" title="{{player.username}}" alt="image of {{player.username}}"/>
      </div>
      <li>{{player.quote}}</li>
      <li>Record: {{player.wins}} - {{player.losses}}</li>
      <li>Win Streak: {{player.wStreak}}</li>
      <li>Loss Streak: {{player.lStreak}}</li>
      <li>Rank: {{player.rank}}</li>
      <li>Longest Win Streak: {{player.longestWStreak}}</li>
      <li>Longest Loss Streak: {{player.longestLStreak}}</li>
    </ul>
  </div>
</section>
