<section>
  <h1>Update your account</h1>
  <div>
    <form ng-submit="authctrl.updateProfile(authctrl.updatedUser)" class="signin">
      <input type="text" ng-model="authctrl.updatedUser.quote" maxlength="140" placeholder="New quote?" />
      <input type="text" ng-model="authctrl.updatedUser.image" placeholder="Add image url" />
      <br />
      <button type="submit">Update</button>
    </form>
  </div>
  <div ng-controller="UserController as userctrl" ng-init="userctrl.getLadder()">
    <form ng-submit="userctrl.deleteUser(userctrl.loggedInUser)">
      <button type="submit">Delete</button>
    </form>
  </div>
</section>
